<nav class="navbar navbar-dark bg-dark mb-4 shadow">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/">🛒 My Supermarket</a>
        <a href="/product/add" class="btn btn-primary btn-sm">+ Add Product</a>
    </div>
</nav>