body {
    background-color: #f5f6fa;
}

h1, h3 {
    font-weight: 700;
}

.table {
    background-color: #ffffff;
}

.product-img {
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.preview-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.form-box {
    max-width: 650px;
    margin: 0 auto;
}

.badge {
    font-size: 12px;
}